# Dependencies
node_modules/

# Environment variables
.env

# Database files
*.db
*.db-shm
*.db-wal

# JSON files
package-lock.json

# Logs
logs/

# Data backups
data/

# OS files
.DS_Store
Thumbs.db

# Wiki
wiki/